<div class="card show border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Category List</h2>
            </div>
        </div>

    </div>
    <div class="card-body p-4">
        <div class="row  pb-3">
            <div class="col-6">
               
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="Category" asp-action="CreateNewCategory">
                    <i class="bi bi-patch-plus-fill"></i>  Add new Category
                </a>

            </div>


        </div>

        <table id="tableproduct">

        </table>
    </div>
</div>
<script type="text/javascript">

    $('#tableproduct').show();
    $('#tableproduct').bootstrapTable({
        method: 'get',
        url: '/Admin/Category/CategoryListData',
        ajaxOption: { traditional: true },
        queryParams: function (p) {
            return {

                Limit: p.limit,
                Search: p.search,
                Offset: p.offset,
                Order: p.order,
            };
        },
        cache: true,
        striped: true,
        pagination: true,
        search: true,
        pageSize: 10,
        pageList: [10, 20, 50],
        hideLoading: false,
        showLoading: true,

        columns: [
            { field: 'name', title: 'Category Name' },
            { field: 'displayOrder', title: 'Dispaly Order' },
            {
                field: 'bIRTReportURL', title: 'Action', formatter: (value, row, index, field) => {

                    return `<div class="w-75 btn-group" role="group">
                                         <a href="/Admin/Category/EditCategory?id=${row.categoryId}" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                                                     <a href='/Admin/Category/Delete/${row.categoryId}' class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                            </div>`
                }
            }
        ]
    });


  


</script>